<div class="my-3">
    <h4>Add a todo</h4>
    <form #todoForm="ngForm" (ngSubmit)="onSubmitAddTodo(todoForm)">
      <div class="mb-3">
        <label for="title" class="form-label">Enter Todo title</label>
        <input
          type="text"
          [(ngModel)]="title"
          class="form-control"
          name="title"
          id="title"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Enter Todo description</label>
        <input
          type="text"
          [(ngModel)]="description"
          class="form-control"
          name="description"
          id="description"
          required
        />
      </div>
      <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
    </form>
  </div>
  